.card__link-url {
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFFFFF;
	transition: opacity 0.2s ease-in;
	cursor: pointer;
}

.card__link-url:hover {
	opacity: 0.8;
}