.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 28px;
	max-width: calc(100% - 96px);
	margin: 0 auto;
}

@media (max-width: 320px) {
	.header {
		padding-top: 16px;
		max-width: calc(100% - 32px);
		margin: 0 auto;
	}
}