.card__descr {
	margin: 0;
	font-size: 18px;
	line-height: 163%;
	color: #FFFFFF;
	margin-bottom: 26px;
}

.card__descr:last-child {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.card__descr {
		font-size: 11px;
	}
}

@media (max-width: 320px) {
	.card__descr {
		padding: 0 16px;
	}
}