.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: max-content max-content;
	gap: 48px 40px;
	width: calc(100% - 112px);
	margin: 0 auto 80px;
}

.card:last-child {
	margin-bottom: 0;
}

@media (max-width: 1024px) {
	.card {
		width: 100%;
		gap: 48px 24px;
	}
}

@media (max-width: 768px) {
	.card {
		width: 98%;
	}
}