.card {
	display: grid;
	grid-template-columns: minmax(auto, 460px) minmax(auto, 484px);
	grid-template-rows: max-content max-content;
	gap: 48px 40px;
	max-width: 984px;
	margin: 0 48px 80px 139px;
}

.card:last-child {
	margin-bottom: 0;
}

@media (max-width: 1024px) {
	.card {
		grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
		gap: 48px 24px;
		margin: 0 48px 80px 48px;
	}
}

@media (max-width: 768px) {
	.card {
		grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);
		margin: 0 24px 73px 24px;
	}
}

@media (max-width: 600px) {
	.card {
		grid-template-columns: 1fr;
		gap: 32px;
	}
}

@media (max-width: 320px) {
	.card {
		margin: 0 0 50px 0;
	}
}