.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: max-content max-content;
	gap: 48px 40px;
	max-width: 984px;
	margin-bottom: 80px;
	padding-left: 139px;
}

.card:last-child {
	margin-bottom: 0;
}

@media (max-width: 1024px) {
	.card {
		max-width: 984px;
		gap: 48px 24px;
		padding: 0 48px;
	}
}

@media (max-width: 768px) {
	.card {
		padding: 0;
	}
}

@media (max-width: 600px) {
	.card {
		grid-template-columns: 1fr;
		gap: 32px;
	}
}

@media (max-width: 320px) {
	.card {
		margin-bottom: 50px;
	}
}